     <div>
          <!-- footer section start -->
        <div class="footer_content"> 
            <h2> Trang Thông Tin Về Dịch Bệnh Viêm Đường Hô Hấp Cấp Covid-19</h2>   
            <p class="text-desaturate">
                Phó Trưởng ban biên tập thường trực TS.BS. Hà Anh Đức, Chánh Văn phòng Bộ Y tế<br>
                Số 138A Giảng Võ - Ba Đình - Hà Nội<br>
                ĐT: 0246.273.2.273 | Fax:0243.8464.051<br>
                Email: banbientap@moh.gov.vn
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"><a class="logo-dv" href="http://dtt.vn/" title="Nhấn enter để kich hoạt" target="_blank"><img src="https://ncov.moh.gov.vn/o/corona-theme-guest/images/Logo DTT.png"  alt="Logo DTT"></a></div>
                    <div class="col-sm-4"><a class="logo-dv" href="http://www.vnpost.vn/" title="Nhấn enter để kich hoạt" target="_blank"><img src="https://ncov.moh.gov.vn/o/corona-theme-guest/images/vnpost.png"  alt="Logo VietNamPost"></a></div>
                    <div class="col-sm-4"><a class="logo-dv" href="https://www.microsoft.com/vi-vn/" data-toggle="tooltip" data-original-title="" title="Nhấn enter để kich hoạt" target="_blank"><img class="img-fluid" src="https://ncov.moh.gov.vn/o/corona-theme-guest/images/Microsoft-logo_rgb_c-wht.png" alt="Logo Microsoft"></a></div>
                </div>
            </div>
        </div>
     <!-- footer section end -->

     <!-- copyright section start -->
     <div class="copyright_section">
        <div class="container">
           <div class="row">
              <div class="col-sm-12">
                 <p class="copyright_text">© 2020 All Rights Reserved.<a href="#"> Đặng Văn Yên</a></p>
              </div>
           </div>
        </div>
     </div>
     <!-- copyright section end -->
     </div>
