<!-- footer section starts  -->

<section class="footer">

  <div class="box-container">

      <div class="box">
          <h3>about us</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio rerum explicabo impedit aperiam non quod. Velit sunt voluptatem nemo beatae.</p>
      </div>

      <div class="box">
          <h3>locations</h3>
          <a href="#">india</a>
          <a href="#">USA</a>
          <a href="#">russia</a>
          <a href="#">japan</a>
          <a href="#">france</a>
          <a href="#">africa</a>
          <a href="#">spain</a>
      </div>

      <div class="box">
          <h3>quick links</h3>
          <a href="#">home</a>
          <a href="#">protect</a>
          <a href="#">symtoms</a>
          <a href="#">prevent</a>
          <a href="#">handwash</a>
          <a href="#">spread</a>
      </div>

      <div class="box">
          <h3>contact info</h3>
          <p> <i class="fas fa-phone"></i> +123-456-7890. </p>
          <p> <i class="fas fa-envelope"></i> example@gmail.com </p>
          <p> <i class="fas fa-map-marker-alt"></i> mumbai, indai - 400104. </p>
          <div class="share">
              <a href="#" class="fab fa-youtube"></a>
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-instagram"></a>
          </div>
      </div>

  </div>

  <h1 class="credit"> created by <a href="#"> mr. Đặng Văn Yên </a> all rights reserved! </h1>

</section>

<!-- footer section ends -->
