
<!-- header section starts  -->

<header>
  <a href="#" class="logo">c<span class="fas fa-virus"></span>ovid-19</a>



  <nav class="navbar">
      <ul>
          <li><a routerLink="/" routerLinkActive='active' >Trang chủ</a></li>
          <li><a routerLink="dienbien" routerLinkActive='active'>Diễn biến dịch</a></li>
          <li><a routerLink="dudoan" routerLinkActive='active'>Dự đoán</a></li>
          <li><a routerLink="lienlac" routerLinkActive='active'>Liên lạc</a></li>
          <li><a routerLink="/taikhoan" *ngIf="dangnhap">Đăng nhập</a></li>
          <li><a (click)="onLogout()" *ngIf="isLoggedIn">Đăng xuất</a></li>
      </ul>

  </nav>
  <p  *ngIf="userDetails"> Xin chào:<a href="#">{{userDetails.userName}}</a></p>
  <div id="menu" class="fas fa-bars"></div>
</header>
