<div class="homesty">
  <!-- home section starts  -->

<section class="home" >

  <div class="content">

      <span class="spann" class="spann">Covid-19</span>
      <h3>Theo dõi sức khỏe hàng ngày</h3>
      <p><span class="spann">Cảnh giác với các triệu chứng.</span>Theo dõi sốt, ho, hụt hơi hoặc các triệu chứng khác của COVID-19.</p>
      <p><span class="spann">Đo thân nhiệt </span>nếu thấy các triệu chứng diễn tiến.</p>
      <a href="#" class="btn">Tìm hiểu thêm</a>

  </div>

  <div class="image">
      <img src="assets/images/home-img.png" alt="">
  </div>

</section>

<!-- home section ends -->

<section class="protect">

  <h1 class="heading">Thực Hiện <span class="spann">Các Bước Để Bảo Vệ</span> Bản Thân</h1>

  <div class="box-container">

      <div class="box">
          <img src="assets/images/protect-1.png" alt="">
          <h3>Đeo khẩu trang</h3>
          <p>Nếu quý vị chưa được tiêm chủng đầy đủ và ở độ tuổi từ 2 tuổi trở lên, quý vị nên đeo khẩu trang ở môi trường công cộng trong nhà.</p>
          <a href="#" class="btn">Đọc thêm</a>
      </div>

      <div class="box">
          <img src="assets/images/protect-2.png" alt="">
          <h3>Rửa tay thường xuyên</h3>
          <p>Rửa tay thường xuyên bằng xà phòng và nước trong tối thiểu 20 giây đặc biệt là sau khi đến khu vực công cộng hoặc sau khi xì mũi, ho hoặc hắt hơi.</p>
          <a href="#" class="btn">Đọc thêm</a>
      </div>

      <div class="box">
          <img src="assets/images/protect-3.png" alt="">
          <h3>Giữ khoảng cách 2 mét</h3>
          <p>Nếu có thể, hãy duy trì khoảng cách 6 feet hoặc 2 mét giữa người bị bệnh và những người sống cùng nhà .!</p>
          <br>
          <a href="#" class="btn">Đọc thêm</a>
      </div>

  </div>

</section>

<!-- symtoms section starts  -->

<section class="symtoms">

  <div class="content">
      <h1 class="heading">Các triệu chứng <span class="spann">chính ?</span></h1>
      <p>COVID-19 tác động đến mỗi người theo những cách khác nhau. Hầu hết những người nhiễm vi-rút sẽ có triệu chứng bệnh từ nhẹ đến trung bình và có thể hồi phục mà không cần nhập viện.</p>
      <ul>
          <div class="one">
              <li>Sốt</li>
              <li>Đau họng</li>
              <li>Mệt mỏi</li>
          </div>
          <div class="two">
              <li>Đau nhức</li>
              <li>Kho khan</li>
              <li>Khó thở</li>
          </div>
      </ul>
      <a href="#" class="btn">Tìm hiểu thêm</a>
  </div>

  <div class="image">
      <img src="assets/images/symptoms-img.png" alt="">
  </div>

</section>

<!-- symtoms section ends -->

<!-- prevent section starts  -->

<section class="prevent" id="prevent">

  <div class="row">

      <div class="image">
          <img src="assets/images/dont-img.png" alt="">
      </div>

      <div class="content">
          <h1 class="heading">Những Điều <span class="spann">Không Nên Làm </span>Trong Covid</h1>
          <p>Trong diễn biến phức tạp của dịch COVID-19, ở nhiều quốc gia trong đó có Việt Nam, việc tiêm vắc xin COVID-19 đang được đẩy nhanh tốc độ. Trong khi chờ đợi đến lượt tiêm chủng vắc xin COVID-19, bạn nên thực hiện những điều sau.</p>
          <ul>
              <li>Không Chia Sẻ Ăn Uống</li>
              <li>Không Liên Lạc Với Người Bệnh</li>
              <li>Không Chạm Vào Mặt Hoặc Mũi Của Bạn</li>
              <li>Không ra ngoài khi không cần thiết</li>

          </ul>
      </div>

  </div>

  <div class="row">

      <div class="content">
          <h1 class="heading">Những Điều <span class="spann">Nên Làm</span> Trong Covid</h1>
          <p>THỰC HIỆN NHỮNG ĐIỀU SAU ĐỂ HẠN
            CHẾ SỰ LÂY LAN CỦA MỌI DỊCH BỆNH?</p>
          <ul>
              <li>Bạn hãy rửa tay thường xuyên</li>
              <li>Đeo khẩu trang khi ra ngoài</li>
              <li>Chăm sóc y tế thường xuyên</li>
          </ul>
      </div>

      <div class="image">
          <img src="assets/images/do-img.png" alt="">
      </div>

  </div>

</section>

<!-- prevent section ends -->

<!-- handwash section starts  -->

<section class="handwash" id="handwash">

  <h1 class="heading">Các <span class="spann">rửa tay</span> đúng cách</h1>

  <div class="box-container">

      <div class="box">
          <span class="spann">1</span>
          <img src="assets/images/hadnwash-1.png" alt="">
          <h3>Apply Soap on Hand</h3>
      </div>

      <div class="box">
          <span class="spann">2</span>
          <img src="assets/images/hadnwash-2.png" alt="">
          <h3>Palm to Palm</h3>
      </div>

      <div class="box">
          <span class="spann">3</span>
          <img src="assets/images/hadnwash-3.png" alt="">
          <h3>Between Fingers</h3>
      </div>

      <div class="box">
          <span class="spann">4</span>
          <img src="assets/images/hadnwash-4.png" alt="">
          <h3>Back of The Hands</h3>
      </div>

      <div class="box">
          <span class="spann">5</span>
          <img src="assets/images/hadnwash-5.png" alt="">
          <h3>clean with water</h3>
      </div>

      <div class="box">
          <span class="spann">6</span>
          <img src="assets/images/hadnwash-6.png" alt="">
          <h3>Use Towel to Dry</h3>
      </div>

  </div>

</section>

<!-- handwash section ends -->

<!-- spread section starts  -->

<section class="spread" id="spread">

  <h1 class="heading">Covid-19 Lây Lan<span class="spann"> Như Thế Nào </span>Trên Toàn Thế Giới </h1>

  <div class="image"></div>

</section>

<!-- spread section ends -->

</div>

